M04 - HTML&CSS/UF1/examen/ej4/lliga.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- elemento raíz -->
  <xs:element name="lliga">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="jornada" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="partit" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="dia" type="xs:string"/>
  
                    <xs:element name="equip" minOccurs="2" maxOccurs="2">
                      <xs:complexType>
                        <xs:sequence>
      
                          <xs:element name="nom" type="xs:string"/>
                          <xs:element name="resultat" type="xs:integer"/>
                          
                          <xs:element name="gols">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="jugador"  minOccurs="0" maxOccurs="unbounded">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="[A-Z]([a-z])*"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          
                        </xs:sequence>
                        <xs:attribute name="juga"> <!-- ATRIBUTO DE EQUIP-->
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="local|visitant"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>

                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                  <xs:attribute name="num" type="xs:integer"/> <!-- ATRIBUTO DE PARTIT-->
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="num" type="xs:integer"/> <!-- ATRIBUTO DE JORNADA-->
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>