M04 - HTML&CSS/UF1/pt9/b/esquema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- elemento raíz -->
  <xs:element name="taulaPeriodica">
    <xs:complexType>
      <xs:sequence>

        <!-- hijos de taulaPeriodica  [atoms]-->


        <!-- [atoms] -->
        <xs:element name="atoms" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>


              <!-- hijos de atoms -->
              <xs:element name="atom" minOccurs="1" maxOccurs="unbounded">

                <xs:complexType>
                  <xs:sequence>
                    <!-- elemento autor -->
                    <xs:element name="nom">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <!-- elemento titulo -->
                    <xs:element name="simbol">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
               

                    <!-- elemento titulo -->
                    <xs:element name="numeroAtomic">
                      <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="118"/>
                      </xs:restriction>
                    </xs:simpleType>
                    </xs:element>
                

                    <!-- elemento titulo -->
                    <xs:element name="pesAtomic">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer"/>
                      </xs:simpleType>
                    </xs:element>
                

                    <!-- elemento titulo -->
                    <xs:element name="puntEbullicio">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer"/>
                      </xs:simpleType>
                    </xs:element>
                 

                    <!-- elemento titulo -->
                    <xs:element name="densitat">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer"/>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>


                  <!-- atributo ubicacio -->
                  <xs:attribute name="estat">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="solid|liquid|gaseos"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>


                </xs:complexType>
              </xs:element>      <!-- FIN de llibre -->

            </xs:sequence>   
          </xs:complexType>
        </xs:element>        <!-- FIN de [llibres] -->


      </xs:sequence>   <!-- FIN hijos de biblioteca -->
    </xs:complexType>
  </xs:element>

  <xs:element name="llibre">

  </xs:element>




</xs:schema>

<!-- minInclusive -->