M04 - HTML&CSS/UF1/pt9/a/esquema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- elemento raíz -->
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>

        <!-- hijos de biblioteca  [web & llibres]-->

        <!-- [web] -->
        <xs:element name="web" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nomWeb"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <!-- [llibres] -->
        <xs:element name="llibres" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>


              <!-- hijos de llibres -->
              <xs:element name="llibre" minOccurs="1" maxOccurs="unbounded">

                <xs:complexType>
                  <xs:sequence>
                    <!-- elemento autor -->
                    <xs:element name="autor">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <!-- elemento titulo -->
                    <xs:element name="titol">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>


                  <!-- atributo codigo -->
                  <xs:attribute name="codi">
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="9999"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>

                  <!-- atributo ubicacio -->
                  <xs:attribute name="ubicacio">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="[estanteria]"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>


                </xs:complexType>
              </xs:element>      <!-- FIN de llibre -->

            </xs:sequence>   
          </xs:complexType>
        </xs:element>        <!-- FIN de [llibres] -->


      </xs:sequence>   <!-- FIN hijos de biblioteca -->
    </xs:complexType>
  </xs:element>

  <xs:element name="llibre">

  </xs:element>




</xs:schema>

<!-- minInclusive -->